label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    color: #555; 
  }

.form-container {
  max-width: 400px;
  margin: 0 auto;
}



.form-container h3 {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #333;
}

.form-container label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
  color: #555;
}




.form-container .btn-custom:hover {
  background-color: #c0392b;
}


button {
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .input {
    color: #8707ff;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    max-width: 190px;
   }
   
   .input:active {
    box-shadow: 2px 2px 15px #8707ff inset;
   }

   
   