/* student-list.component.css */

.list-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 15px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  app-student {
    display: block;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  }
  
  